html{
    scroll-behavior: auto !important;
}

body{
    background-color: black;
    font-family: "Open Sans";
}
/*Navbar*/
.navbar{
    background-color: transparent;
    position:top-fixed;
    font-size:small;
    width: 100vw;
    z-index: 1;
}
.navbar-brand{
    font-family: "Open Sans";
    font-size:medium ;
    font-weight: 300;
}

/*Carrusel*/
#Carousel {
    padding-bottom: 50px;
}

/*Seccion Quienes somos*/

#Quienes-somos{
    font-family: "Open Sans";
    font-size: x-large;
    font-weight: 400;
    color: white;
    font-family: "Open Sans";
    line-height: 3;
    
}

/*Destacados*/
#Destacados{
    padding-top: 120px;
}

/*Contacto*/
#Contacto h1{
    padding-top: 120px;
    color:white
   font-family: "Open Sans";
   font-size:xx-large;
}
#Contacto Hola{
    color: white;
}

/*Footer*/
#Footer h1{
font-family: "Open Sans";  
}

#Footer a{
    color: white;
    text-decoration: none;
}